mixin formitems(formitems)
	each item in formitems
		+b.formitem
			+e('input').input-text(type=item.type, value=item.value, id=item.id)&attributes(item.attributes ? item.attributes : {})
			+e('label').label(for=item.id) #{item.label}
